.content {
    background-color: rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 3fr 7fr;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 560px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.leftColumn {
    grid-column: 1/ 2;
    justify-content: center;
}

.rightColumn {
    grid-column: 2/ 3;
    text-align: justify;
}


/*Info Box start*/

.infoBox {
    position: relative;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    background: blueviolet;
    float: left;
    margin: 1vh 1vw;
}

.infoBox a {
    color: #000;
}

.infoBox .box {
    position: relative;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    background: plum;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    z-index: 1;
}

.infoBox .box:hover {
    transform: scale(1.1);
    background: #66ccff;
    box-shadow: 2px 2px 2px #000000;
    z-index: 2;
}

.infoBox .box img {
    margin-top: 20%;
    width: 60%;
    transition: 1s;
}

.infoBox .box:hover img {
    margin-top: 0%;
}

.infoBox .box .context {
    position: absolute;
    top: 100%;
    transition: 1s;
    opacity: 0;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
}

.infoBox .box:hover .context {
    top: 25%;
    opacity: 1;
    font-size: 15px;
}

.infoBox .box:hover .context p {
    font-size: 15px;
}


/*Info Box end*/


/*Regatta links styling start*/

.rightColumn .linkFormat {
    margin-top: 5vh;
    text-align: center;
    list-style-type: none;
}

.rightColumn .linkFormat li {
    padding-top: 5vh;
}

.rightColumn .linkFormat a {
    color: blue;
    text-decoration: none;
}

.rightColumn .linkFormat a:hover {
    text-decoration: underline;
}

.rightColumn .linkFormat a:visited {
    color: darkblue;
}


/*Regattalinks styling end*/


/*Picture slider start*/

#slider {
    overflow: hidden;
    grid-column: 1/ 3;
    grid-row: 1/ 2;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 10%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/*Pictute slider end*/