@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    position: relative;
    background: url(../images/bodybackground.png);
    background-size: auto;
    background-attachment: fixed;
}

.content {
    background-color: #dadada;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    grid-template-columns: 90vw 10vw;
    min-height: 100vh;
    max-width: 80vh;
}

nav {
    overflow: hidden;
    background-color: #666666;
    border-radius: 10px;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

nav a {
    font-size: 15px;
    font-family: 'Roboto';
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: #ff3300;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #404040;
    font-family: 'Roboto', cursive;
    margin: 0;
}

.dropbtn-active {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #ff3300;
    font-family: 'Roboto', cursive;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #404040;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff3300;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.infoBox {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 2vw;
    background: #000;
    border-radius: 15px;
}

.infoBox .box {
    position: relative;
    width: calc(200px - 30px);
    height: calc(200px - 30px);
    background: #ff0;
    float: left;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
    box-sizing: border-box;
    overflow: hidden;
}

.infoBox .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.infoBox .box:hover .icon {
    top: 20px;
    right: calc(50% - 50%);
    width: 80px;
    height: 80px;
}